<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SqlEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="connString" value="Server=DESKTOP-TAOFHSJ\SqlEXPRESS;Database=digitallibrary;User Id=deomca;Trusted_Connection=true;"/>
    <add key="SaveImagePath" value="C:\Users\deomca\Desktop\DEFCCDigitalLibraryFinal\DEFCCWeb\CadesterMap\"/>
    <add key="GetImagePath" value="CadesterMap\"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>